In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.datasets import load_boston # 보스턴 집 값 데이터
from sklearn.linear_model import LinearRegression # 선형 회귀 알고리즘
from sklearn.model_selection import train_test_split # 훈련 데이터와 테스트 데이터 분할

In [2]:
boston = load_boston() #데이터 선언 -> 딕셔너리 형태
print(boston.keys())

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [3]:
print(boston['feature_names']) # 특성 데이터 : 집 값에 영향을 주는 속성들 (독립변수)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [4]:
print(boston['data'][:5])

[[6.3200e-03 1.8000e+01 2.3100e+00 0.0000e+00 5.3800e-01 6.5750e+00
  6.5200e+01 4.0900e+00 1.0000e+00 2.9600e+02 1.5300e+01 3.9690e+02
  4.9800e+00]
 [2.7310e-02 0.0000e+00 7.0700e+00 0.0000e+00 4.6900e-01 6.4210e+00
  7.8900e+01 4.9671e+00 2.0000e+00 2.4200e+02 1.7800e+01 3.9690e+02
  9.1400e+00]
 [2.7290e-02 0.0000e+00 7.0700e+00 0.0000e+00 4.6900e-01 7.1850e+00
  6.1100e+01 4.9671e+00 2.0000e+00 2.4200e+02 1.7800e+01 3.9283e+02
  4.0300e+00]
 [3.2370e-02 0.0000e+00 2.1800e+00 0.0000e+00 4.5800e-01 6.9980e+00
  4.5800e+01 6.0622e+00 3.0000e+00 2.2200e+02 1.8700e+01 3.9463e+02
  2.9400e+00]
 [6.9050e-02 0.0000e+00 2.1800e+00 0.0000e+00 4.5800e-01 7.1470e+00
  5.4200e+01 6.0622e+00 3.0000e+00 2.2200e+02 1.8700e+01 3.9690e+02
  5.3300e+00]]

In [5]:
print(boston['target'][:5]) #타겟 데이터(종속변수)

[24.  21.6 34.7 33.4 36.2]

In [6]:
df_boston = pd.DataFrame(boston['data'], columns = boston['feature_names']) #보스턴 집값을 데이터 프레임 형태로 변환
df_boston['PRICE'] = boston['target'] #target값들을 새로운 열로 설정
df_boston.head() #데이터 프레임 확인

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [7]:
data_input = df_boston['RM'] # 방의 개수 특성을 독립변수로 지정
data_input = data_input.to_numpy().reshape(-1, 1) #1차원 데이터 --> 2차원 데이터
data_target = df_boston['PRICE'] #집값 특성을 종속 변수로 지정

In [9]:
input_train, input_test, target_train, target_test = train_test_split(data_input, data_target, test_size = 0.2, random_state = 42)

print(input_train.shape, target_train.shape)
print(input_test.shape, target_test.shape)

(404, 1) (404,)
(102, 1) (102,)